<!-- ====== Breadcrumbs ====== -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Friends Events</h2>
                    <p>You can get Events of Bilal Family here </p>
                    <p>Be part of them by sharing your Event Dear :{{name}}.</p>
                </div>
            </div>

            <div class="col-md-3  text-center " style="padding-top: 42px; justify-content-center">
                <a href="/stories" class="btn bg-primary text-white"> Stories
                    dashboard</a>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li>Events</li>
                <div class="col-md-6 w-100">

                    {{!-- search --}}
                    <form id="search-site" action='/story/search/:query' method='get' class="row mb-4">
                        <div class="col input-group" style="padding-top: 30px;">
                            <span class="input-group-text"><i class="fas fa-search fa-lg"></i></span>
                            <div class="form-floating">
                                <input id="search" type="search" name='query' class="form-control"
                                    placeholder="Search by title">
                                <label for="search">Search</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        {{!-- Broadcast --}}
                        <div class="col-md-3" style="padding-top: 42px;">
                            <a href="/story/add" class="btn bg-primary text-white">Post Story</a>
                        </div>
                        {{!-- Broadcast --}}
                    </form>
                    {{!-- search --}}

                </div>
            </ol>
        </div>
    </nav>
</div>
<!--- End Breadcrumbs --->




<div class="container" style="padding-top: 85px; padding-bottom: 30px;">
    <div class="row">

        {{!-- Left --}}
        <div class="col-md-8" style="padding-right: 50px; padding-left: 50px;">

            <div class="row">
                <div class="col text-end">
                    <h3>{{story.title}}</h3>
                </div>

                <div class="col">
                    <a href="/story/edit/{{story._id}}" class="btn p-1 btn-float text-primary">
                        <i class="fas fa-edit fa-2x mx-1"></i>
                    </a>
                </div>
            </div>
            <hr>


            <div class="card-content">
                <div style="padding: 7px;">
                    {{#if story.imageBase64}}
                    <img src='data:{{story.contentType}};base64,{{story.imageBase64}}' class="img-fluid img-small"
                        alt="news image" style="height: 250px; width: 350px;">
                    {{else}}
                    <img src="images/no_image.png" style="width:150; height:150px;" class="img-thumbnail">
                    {{/if}}
                </div>
            </div>


            <div class="p-3 card news">
                <div class="card-content">
                    {{!-- Title --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>◇ Title :</span>
                        <span style="padding-left: 40px;">{{story.title}}</span>
                    </div>
                    <hr>

                    {{!-- Title --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>◇ News Message :</span>
                        <br>
                        <span style="padding-left: 40px;">{{stripTags story.body}}</span>

                    </div>
                    <hr>
                    {{!-- Broadcasted Date --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>◇ Posted Date : </span>
                        <span style="padding-left: 40px;"> {{formatDate story.createdAt 'MMMM Do YYYY, h:mm:ss
                            a'}}</span>
                    </div>

                </div>
            </div>
        </div>


        {{!-- Right --}}
        <div class="col-md-4" style="padding-left: 45px; padding-right: 45px; padding-top: 25px; ">
            <div class="card text-center">
                <div class="card-content">
                    <div style="padding-top: 10px;">
                        <span class="card-title">{{story.user.displayName}}</span>
                    </div>
                    <div style="padding: 7px;">
                        <img src="{{story.user.image}}" class="rounded-circle responsive-img img-small"
                            alt="Story poster image" style="height: 150px; width: 150px;">
                    </div>

                    <div class="card-action" style="padding-bottom: 13px;">
                        <button type="button" class="btn  btn-primary link-unstyled text-decoration-none"
                            style="background-color: #3498db; border-color: #3498db; "
                            onmouseover="this.style.backgroundColor='#2980b9'"
                            onmouseout="this.style.backgroundColor='#3498db'"
                            onclick="window.location.href='/story/user/{{story.user._id}}'">
                            More From {{story.user.firstName}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>